.signUp {
  padding: 80px 10px;
  display: flex;
  justify-content: center;
  form {
    border: 1px solid rgb(208, 208, 208);
    padding: 30px 20px;
    border-radius: 10px;
    width: 400px;

    .toSignUp {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }
  }
}
