.signIn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  form {
    min-width: 310px;
    .toSignUp {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }
  }
}
