@import "../../styles/variables.scss";

.menu {
  .menu-logo {
    text-align: center;
    padding-top: 30px;
    img {
      object-fit: cover;
      width: 100%;
      height: 50px;
    }
  }
  .menuLine {
    padding: 0 5px;
    span {
      display: inline-block;
      background-color: $bg-main;
      width: 100%;
      height: 0.5px;
    }
  }
  .menuList {
    padding: 10px 0;
  }
}
